{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'wardrobe/style.css' %}">
</head>
<body class="login-page">
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a href="{% url 'register' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Logout</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
